.boxcontainer {
    background-color: white;
    border-radius: 13px;
    text-align: left;
    padding: 25px;
    width: 24vw;
}

.boxcontainer img {
    width: 31px;
}

.boxcontainer p {
    font-size: 19px;
    color: #6b7280;
    padding-top: 4px;
}

.test {
    font-size: 31px;
}